.intro {
  background-image: linear-gradient(
    180deg, 
    #ffebff 0%,
    #ffebff 20%, 
    #f2d6f2 27%,
    #946db2 33%,
    #201f3e 80%,
    var(--lightlavendel) 100% 
  );
}

.story-container {
  height: calc(100% - 35px);
  display: flex; /* fixing header height addition */
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y proximity;  
  scroll-behavior: smooth;
  position: relative;
}

.story-section-intro {
  width: 100%;
  height: 100vh; 
  display: grid;
  grid-template-rows: 1fr minmax(40vh, 70vh) 1fr;
  /* padding: 0vh 2vw 4vh; */
  justify-items: center;
  align-items: center;
  scroll-snap-align: start;
  will-change: transform, opacity; /* support animation */
  position: relative;
  padding-top: 50px;
  z-index: 1;
}

.story-section-explain {
  height: 100vh;
  grid-template-rows: 1fr minmax(60vh, 80vh);
}

.img-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
}

.img-container img {
  max-width: 85%;
  max-height: 100%;
  object-fit: contain;
}

.intro-small {
  height: 74vh;
  margin-top: -18vh;
  max-width: 70%;
}

.img-saturated {
  opacity: 1;
}

.text {
  font-size: clamp(2.3rem, 5vw, 3rem);
  line-height: clamp(2.5rem, 5.3vw, 3.3rem);
  max-width: 90%;
}

.title-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
  max-width: 90vw;
  height: 40vh;
}

.title-box p {
  text-align: center;
  line-height: clamp(3rem, 5.8vw, 3.8rem);
}

.subtitle {
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 1.5rem);
  line-height: clamp(2.5rem, 5.3vw, 3.3rem);
}

.text-greet {
  font-size: clamp(2.5rem, 7.5vw, 5.5rem);
  color: #fb000092;
}

.text-white {
  color: var(--white);
}

.text-d3label {
  color: var(--d3label);
}

.text-rose {
  color: var(--darkrose);
}

.text-lightrose {
  color: var(--lightrose);
}

.text-nausea {
  color: var(--nausea);
}

.text-drowsiness {
  color: var(--drowsiness)
}

.text-first {
  margin-top: -40vh;
}

.link {
  font-size: 1.4rem;
  font-size: clamp(1rem, 3vw, 1.4rem);
  color: var(--link);
  text-decoration: none;
}

.text-lightlavendel {
  color: var(--lightlavendel);
}

/* Explain section */

.sticky-bg {
  position: sticky;
  background-color: var(--lightlavendel);
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.graphic-container {
  position: sticky;
  top: 7rem;
  height: calc(100vh - 7rem);
}

.animation-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Side notes */

.side-notes {
  position: relative;
}

.explain-step, .vis-explain-step {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-side, .vis-side-notes {
  text-align: left;
  font-size: clamp(1.3rem, 4vw, 2rem);
  line-height: clamp(1.9rem, 4.7vw, 2.7rem);
  padding: 3vw;
  background-color: #e9d6fbcc;
  position: relative;
  flex: 2;
  overflow: hidden;
  min-width: 0;
  padding-top: 25%;
  margin-left: 2rem;
  border-left: 1px solid #bbb;
}

.text-side {
  border: none;
  padding-top: 0%;
}

.last-side-13 {
  height: 50vh;
}

.last-side-note {
  margin-top: -30vh;
}

.outro {
  max-width: 1000px;
  text-align: center;
  font-size: clamp(1.3rem, 4vw, 2rem);
  line-height: clamp(1.9rem, 4.7vw, 2.7rem);
  padding: 2vw;
  padding-top: 0;

  position: relative;

  min-width: 0;
}

.outro p {
  font-size: 2rem;
}

.moba-data {
  max-width: 1000px;
  padding: 4rem;
}

.moba-data p {
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-align: left;
}

/* data-intro */

.data-intro {
  background-image: linear-gradient(
    180deg, 
    var(--lightlavendel) 0%,
    #524f9c 30%, 
    #201f3e 50%,
    #201f3e 100%
  );
}

.img-dv-intro img {
  max-width: 100vw;
  opacity: 0.95;
}

.text-middle {
  font-size: clamp(1.3rem, 4vw, 2rem);
  line-height: clamp(1.9rem, 4.7vw, 2.7rem);
}

.foot-note {
  font-size: clamp(1rem, 3.7vw, 1.7rem);
  line-height: clamp(1.6rem, 4.4vw, 2.3rem);
}

.transition-bg {
  background-image: linear-gradient(
    180deg,
    #201f3e 0%,
    var(--lightlavendel) 100%
  )
}

.data {
  text-align: left;
  max-width: 70%;
  margin-top: 40vh;
}

.text-box {
  margin-bottom: 20vh;
}

.light-box {
  max-width:80%;
  background: #e9d6fbff;
  backdrop-filter: blur(8px);
  border-radius: 16px;
  border: 1px solid #201f3e;
  padding: 3vw 0vw 3vw 3vw;
  margin-left: 10vw;
}

.text-transition {
  color: #48305b;
  opacity: 1;
}

.light-bg {
  background-color: var(--lightlavendel);
}

/* Data Visualization */

.vis-container {
  display: flex;
}

.visualization {
  flex: 3; /* gets 60% of the horizontal space */
}

.chart-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chart-container > .quote-overlay {
  position: absolute;
}

.transition-page {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-page p{
  width: 70vw;
  margin-top: -100vh;
}

.conclusion {
  height: 100vh;
  margin-top: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.transition-page, .conclusion p {
  text-align: center;
}

/* Chart comparison */
.chart-layout {
  position: sticky;
  top: 0;

  display: flex;
  height: 100vh;
  width: 100%;

  gap: 2rem;
}

.chart-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.transition-compare {
  height: 0vh;
}


.x-axis-label {
  font-size: 23px;
}

.y-axis-label {
  font-size: 30px;
  fill: #232323;
}

.percent {
  font-family: 'greatthings';
}

.annotation {
  font-size: 1.2rem;
}

.side-notes-column {
  flex-direction: column;
  padding: 3vw;
}

.text-side-item {
  text-align: left;
  font-size: clamp(1.3rem, 4vw, 2rem);
  line-height: clamp(1.9rem, 4.7vw, 2.7rem);
}

.zoom-label {
  display: block;
  max-width: 80%;
  text-align: left;
  padding: 2vh 20px;
}

.text-side-item hr {
  border-top: 1px solid #ddd;
}

.zoom-button {
  font-family: 'ink_freeregular';
  font-size: clamp(1.1rem, 3.8vw, 1.7rem);
  color: var(--text);
  border: 3px dotted #cbb8dd;
  padding: .8rem 1.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #ffffff9b; 
  transform: rotate(30deg);
}

.zoom-button:hover {
  background: #ffffffca;
  border-color: #c3a9dc;
}

.zoom-icon, .return-icon {
  display: inline-block;
}

.return-icon {
  color: #666;
  transform: scale(0.7);
}

.missing-data {
  display: flex;
  margin-top: 2rem;
}

.info-icon p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.missing-data-text {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 0 0.5rem;
  text-align: left;
}
/* Quotes */

.quote-overlay {
  position: absolute;
  top: 7rem;
  right: 9rem;
  width: 22rem;
  z-index: 30;
  pointer-events: none;
}

@media (max-width: 1300px) {
  .quote-overlay {
    top: 5rem;
    right: 1rem;
    width: 18rem;
  }
}

.quote-symptom {
  font-size: 1rem;
  font-family:'Courier New', Courier, monospace;
  letter-spacing: 0.3cap;
  color: #333;
  margin: 15px 0;
}

.quote-text {
  font-size: clamp(0.8rem, 2vw, 1rem);
  line-height: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

/* Supporting panel */

.supporting-panel {
  width: 100%;
  min-height: 140px;
  display: flex;
  align-items: flex-start;
}

.pregnancy-stage-panel {
  width: calc(100% - 130px);
  height: 120px;
  margin: 0rem auto 0;
}

.label-panel {
  max-width: 880px;
  width: 100%;
  margin: 1rem auto 0;
  padding: 0 0.8rem;
  text-align: left;
}

.symptom-headline {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.symptom-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem 0.5rem;
}

@media (max-width: 900px) {
  .symptom-panel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .symptom-panel {
    grid-template-columns: 1fr;
  }
}

.symptom-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.symptom-icon {
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

hr {
  width: 90%;
}

.web-link {
  color: var(--link);
  text-decoration: none;
}

/* Waves */
.wave-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.wave-track {
  display: flex;
  width: max-content;
}

.wave-track svg {
  width: 100vw;
  width: max(100vw, 900px);
  height: 100%;
  flex-shrink: 0;
}

/* base wave */
.wave {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
}

/* layer 1: fastest / surface */
.wave1 {
  animation: waveLoopLeft 10s linear infinite;
}

/* layer 2: medium depth */
.wave2 {
  animation: waveLoopRight 16s linear infinite;
}

/* layer 3: deep slow current */
.wave3 {
  animation: waveLoopLeft 24s linear infinite;
}

/* horizontal wave movement */
@keyframes waveLoopLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

@keyframes waveLoopRight {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.header {
  height: 35px;
  display: fixed;
  flex-shrink: 0;
  border-bottom: 1px solid #d87093;
  background-color: #ffebff;
}

@media (max-width: 1500px) {
  .wave-track svg {
    width: 1500px;
  }
}
@media (max-width: 800px) {
  .story-section {
    height: 80vh;
  }

  .img-container img {
    width: 77%;
  }

  .wave-track svg {
    width: 2000px;
  }

  .content-container {
    display: block;
   
  }
}



